/*
 * arch/arm64/boot/dts/tegra210-p3448-0002-p3449-0000-b00.dts
 *
 * Copyright (c) 2018-2019, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 *
 */

#include "tegra210-nano-cti-base.dtsi"
#include "porg-platforms/tegra210-nano-cti-pinmux-NGX003.dtsi"
#include "porg-platforms/tegra210-nano-cti-gpio-NGX003.dtsi"


#define CAM1_PWDN		TEGRA_GPIO(S, 7)
#define CAM2_PWDN		TEGRA_GPIO(T, 0)
#define CAM_I2C_MUX TEGRA_GPIO(I, 0) // NFC_EN GPIO

/ {
	nvidia,dtsfilename = "tegra210-nano-cti-NGX003.dts";	

	sdhci@700b0600 { /* SDMMC4 for EMMC */
		status = "okay";
	};

	sdhci@700b0000 { 
		status = "disabled";
	};
	
	sdhci@700b0400 {
		status = "okay";
		cd-gpios = <&gpio TEGRA_GPIO(Z, 2) 0>;
	};

	spi@70410000 { /* QSPI */
		status = "disabled";
	};
	
	gpio@6000d000 {
		camera-control-output-low {
			gpio-hog;
			output-low;
			gpios = < CAM1_PWDN 0  CAM2_PWDN 0>;
			label = "cam1-pwdn", "cam2-pwdn";
		};
	};


    /**define tca9539 i2c-0*/
    i2c@7000c000 {
        status = "okay";
        
        cam_gpios:tca9539@74{
            status = "okay";
            compatible="ti,tca9539";
            vcc-supply = <&battery_reg>;
            gpio-controller;
            #gpio-cells=<2>;
            reg=<0x74>;
        };
    };

    /** define tlc59116PWR on i2c-1*/
    i2c@7000c400 {
        status = "okay";
        rgb_leds:tlc59116@60{
            status = "okay";            
            compatible="ti,tlc59116";
            #address-cells = <1>;
            #size-cells = <0>;
            reg=<0x60>;

            red@0 {
                label="red";
                reg = <0x0>;
            };
            green@1 {
                label="green";
                reg = <0x1>;
            };
            blue@2 {
                label="blue";
                reg = <0x2>;
            }; 

        };
    };

    i2c@546c0000 {
        status = "okay";
        #address-cells = <1>;
        #size-cells = <0>;
        tca9546@70 {
            compatible = "nxp,pca9544";
            reg = <0x70>;
            #address-cells = <1>;
            #size-cells = <0>;
            //skip_mux_detect = "yes";
            vcc-supply = <&p3448_vdd_3v3_sys>;
            vcc-pullup-supply = <&p3448_vdd_3v3_sys>;
            status = "okay";
        };
    };

	gpio@6000d000 {
			/* gpio-name for 40-pin header, gpio-name given as COL(10) x ROW(20) */
			gpio-line-names = "",   "",     "",     "",     "",     "",     "",     "",     "",     "",
			"",     "",     "SPI1_MOSI",    "SPI1_MISO",    "SPI1_SCK",     "SPI1_CS0",     "SPI0_MOSI",    "SPI0_MISO",    "SPI0_SCK",     "SPI0_CS0",
			"SPI0_CS1",     "",     "",     "",     "",     "",     "",     "",     "",     "",
			"",     "",     "",     "",     "",     "",     "",     "",     "GPIO13",      "",
			"",     "",     "",     "",     "",     "",     "",     "",     "",     "",
			"UART1_RTS",    "UART1_CTS",    "",     "",     "",     "",     "",     "",     "",     "",
			"",     "",     "",     "",     "",     "",     "",     "",     "",     "",
			"",     "",     "",     "",     "",     "",     "I2S0_FS",    "I2S0_DIN",    "I2S0_DOUT",   "I2S0_SCLK",
			"",     "",     "",     "",     "",     "",     "",     "",     "",     "",
			"",     "",     "",     "",     "",     "",     "",     "",     "",     "",
			"",     "",     "",     "",     "",     "",     "",     "",     "",     "",
			"",     "",     "",     "",     "",     "",     "",     "",     "",     "",
			"",     "",     "",     "",     "",     "",     "",     "",     "",     "",
			"",     "",     "",     "",     "",     "",     "",     "",     "",     "",
			"",     "",     "",     "",     "",     "",     "",     "",     "",     "GPIO01",
			"",     "",     "",     "",     "",     "",     "",     "",     "",     "",
			"",     "",     "",     "",     "",     "",     "",     "",     "GPIO07",   "",
			"",     "",     "",     "",     "",     "",     "",     "",     "",     "",
			"",     "",     "",     "",     "",     "",     "",     "",     "",     "",
			"",     "",     "",     "",     "GPIO12",       "",     "",     "",     "",     "",
			"GPIO11",      "",     "",     "",     "",     "",     "",     "",     "",     "",
			"",     "",     "",     "",     "",     "",     "GPIO09",     "",     "",     "",
			"",     "",     "",     "",     "",     "",     "",     "",     "",     "",
			"",     "",     "SPI1_CS1",     "",     "",     "",     "",     "",     "",     "";
	};
};
